.shows {
  padding-top: 30px;
  padding-bottom: 30px;
}

.show-list {
  display: flex;
  flex-wrap: wrap;
}

.show {
  margin-bottom: 30px;
  padding-left: 1%;
  padding-right: 1%;
  width: calc(100% / 3);
  box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
  .show {
    width: calc(100% / 4);
  }
}

@media only screen and (min-width: 640px) {
  .show {
    width: calc(100% / 5);
  }
}

@media only screen and (min-width: 960px) {
  .show {
    width: calc(100% / 6);
  }
}

@media only screen and (min-width: 1200px) {
  .show {
    width: calc(100% / 7);
  }
}

.show img {
  width: 100%;
}

.show-title {
  margin-top: 10px;
  overflow-wrap: wrap;
}
